body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

video {
  width: 90%;
  max-width: 900px;
  background: black;
  border-radius: 10px;
  margin-top: 20px;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}